<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знакомство с фреймворком Vue.JS</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>

    
  <div id="app">
    <input type="number" v-model="a">
    <input type="number" v-model="b">
    <input type="number" v-model="c">
    <button @click="Max">Найти наибольшее</button>
    <p>Наибольшее число: {{ result }}</p>
  </div>
</div>

<script src="assets/js/vue3.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>